@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.pt-8{
  padding-top: 80px;
}

h1{
  text-align: center;
  background-color:aquamarine;
  padding: 10px;
}

.field{
  margin: 5px;
}

.info{
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .info {
    flex-direction: column; 
  }
  .field {
    width: 100%; 
  }
}

input{
  width: 200px;
  border-radius: 5px;
  border: 0.5px solid rgb(14, 15, 15);
  line-height: 25px;
  font-size: 14px;
  padding: 5px;
}

.fieldimage{
  display: flex;
}

.button{
  align-self: flex-end;
  /* margin-top: 43px; */
}

button{
  margin: 0 10px;
  width: 100px;
  text-align: center;
  padding:5px 0 5px 0;
  margin-top: 10px;
  border: 1px solid rgb(20, 21, 22);
  border-radius: 50px; 
  transition: transform 0.3s;
  font-family: 'Poppins', sans-serif;
}

button:hover{
  transform: scale(1.2);
  color: rgb(29, 26, 233);
  border: 1px solid rgb(29, 26, 233);
 
}

.fieldimage h4 {
  white-space: nowrap; /* Giữ cho tiêu đề trên một dòng */
}

@media (max-width: 315px){
  .fieldimage h4 {
    font-size: 14px; /* Đặt kích thước phông chữ mong muốn cho màn hình nhỏ */
  }
}


@media (min-width:992px) {
  .volume, .linear{
    padding: 0 70px !important;
  }
}

@media (min-width:767px) and (max-width:1200px) {
  .fieldimage{
    flex-direction: column;
  }
  h4{
    width: 70px !important;
  }
  /* .button{
    align-self:self-start;
  } */
}

@media (min-width: 300px) {
  body {
    font-size: 12px; 
  }

}

.footer{
  display: flex;
  justify-content: flex-end; /* Đặt nút ở phía bên phải */
  padding: 20px;
}