@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.pt-8{
  padding-top: 80px;
}

h1{
  text-align: center;
  background-color:aquamarine;
  padding: 10px;
}

.field{
margin: 5px;
}

.Info{
  display: flex;
  margin: 50px;
  justify-content: space-around;
  }

h4, h1{
  font-family: 'Poppins', sans-serif;
}

h4{
  padding: 10px 0;
}

input{
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 0.5px solid rgb(14, 15, 15);
}

.fieldimage{
  display: flex;
}

.button{
  align-self: flex-end;
  /* margin-top: 43px; */
}

button{
  margin: 0 10px;
  width: 100px;
  text-align: center;
  padding:5px 0 5px 0;
  margin-top: 10px;
  border: 1px solid rgb(20, 21, 22);
  border-radius: 50px; 
  transition: transform 0.3s;
  font-family: 'Poppins', sans-serif;
}

button:hover{
  transform: scale(1.2);
  color: rgb(29, 26, 233);
  border: 1px solid rgb(29, 26, 233);
 
}
.image{
  margin: 0 100px;
}

.input{
  width: 150px;
  line-height: 20px;
  font-size: 14px;
  padding: 5px;
}
